<?xml version="1.0" encoding="UTF-8"?>
<launch>
	
  <include file="$(find rosbridge_server)/launch/rosbridge_tcp.launch">
    <arg name="bson_only_mode" value="True"/>
  </include>

  <!-- run stereo image proc -->
  <param name="/stereo/disparity/stereo_algorithm" value="1" />
  <param name="/stereo/disparity/prefilter_cap" value="32" />
  <param name="/stereo/disparity/min_disparity" value="0" />
  <param name="/stereo/disparity/disparity_range" value="80" />
  <param name="/stereo/disparity/uniqueness_ratio" value="11" />
  <param name="/stereo/disparity/texture_threshold" value="0" />
  <param name="/stereo/disparity/speckle_size" value="0" />
  <param name="/stereo/disparity/speckle_range" value="0" />
  <param name="/stereo/disparity/P1" value="213.0" />
  <param name="/stereo/disparity/P2" value="1500.0" />
  <param name="/stereo/disparity/disp12MaxDiff" value="30" />
  <!-- Start a nodelet manager; the name must be unqualified here -->
  <node pkg="nodelet" type="nodelet" name="pipeline" args="manager" />
  <!-- Include the stereo_image_proc.launch file and pass in a qualified manager name -->
  <include file="$(find stereo_image_proc)/launch/stereo_image_proc.launch" ns="stereo">
    <arg name="manager" value="/pipeline" />
  </include>
	
  <!--robot model -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find moon_ranger_gazebo)/urdf/moonranger_urdf.xacro'" />
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0.5" />
  <arg name="roll" default="0" />
  <arg name="pitch" default="0" />
  <arg name="yaw" default="0" />

  <!-- Start EKF for localization by robot_localisation package-->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
    <rosparam command="load" file="$(find moon_ranger_gazebo)/config/localization.yaml" />
  </node>
  <!-- Send fake joint values-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false" />
  </node>
  <!-- Send robot states to tf -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" />

  <remap from="/camera/depth/points" to="/stereo/points2" />
  <include file="$(find moon_ranger_gazebo)/launch/rasm_moon_ranger.launch" />

</launch>
